// Icons
// --------------------------

.#{$rpl-css-prefix}-facebook:before                     {content: $rpl-var-facebook;}
.#{$rpl-css-prefix}-twitter:before                      {content: $rpl-var-twitter;}
.#{$rpl-css-prefix}-youtube:before                      {content: $rpl-var-youtube;}
.#{$rpl-css-prefix}-pinterest:before                    {content: $rpl-var-pinterest;}
.#{$rpl-css-prefix}-folder-open-alt:before              {content: $rpl-var-folder-open-alt;}
.#{$rpl-css-prefix}-caret-right:before                  {content: $rpl-var-caret-right;}
.#{$rpl-css-prefix}-caret-left:before                   {content: $rpl-var-caret-left;}
.#{$rpl-css-prefix}-caret-up:before                     {content: $rpl-var-caret-up;}
.#{$rpl-css-prefix}-caret-down:before                   {content: $rpl-var-caret-down;}
.#{$rpl-css-prefix}-check:before                        {content: $rpl-var-check;}
.#{$rpl-css-prefix}-uncheck:before                      {content: $rpl-var-uncheck;}
.#{$rpl-css-prefix}-google-plus:before                  {content: $rpl-var-google-plus;}
.#{$rpl-css-prefix}-phone:before                        {content: $rpl-var-phone;}
.#{$rpl-css-prefix}-mobile:before                       {content: $rpl-var-mobile;}
.#{$rpl-css-prefix}-link:before                         {content: $rpl-var-link;}
.#{$rpl-css-prefix}-picture:before                      {content: $rpl-var-picture;}
.#{$rpl-css-prefix}-rss:before                          {content: $rpl-var-rss;}
.#{$rpl-css-prefix}-sortbysizedescending:before         {content: $rpl-var-sortbysizedescending;}
.#{$rpl-css-prefix}-sortbysizeascending:before          {content: $rpl-var-sortbysizeascending;}
.#{$rpl-css-prefix}-outgoingcall:before                 {content: $rpl-var-outgoingcall;}
.#{$rpl-css-prefix}-facebook2:before                    {content: $rpl-var-facebook2;}
.#{$rpl-css-prefix}-checkmark:before                    {content: $rpl-var-checkmark;}
.#{$rpl-css-prefix}-books:before                        {content: $rpl-var-books;}
.#{$rpl-css-prefix}-users:before                        {content: $rpl-var-users;}
.#{$rpl-css-prefix}-checkbox-checked:before             {content: $rpl-var-checkbox-checked;}
.#{$rpl-css-prefix}-checkbox-unchecked:before           {content: $rpl-var-checkbox-unchecked;}
.#{$rpl-css-prefix}-unConfirm:before                    {content: $rpl-var-unConfirm;}
.#{$rpl-css-prefix}-Confirm-2:before                    {content: $rpl-var-Confirm-2;}
.#{$rpl-css-prefix}-play:before                         {content: $rpl-var-play;}
.#{$rpl-css-prefix}-pause:before                        {content: $rpl-var-pause;}
.#{$rpl-css-prefix}-play2:before                        {content: $rpl-var-play2;}
.#{$rpl-css-prefix}-pause2:before                       {content: $rpl-var-pause2;}
.#{$rpl-css-prefix}-vimeo:before                        {content: $rpl-var-vimeo;}
.#{$rpl-css-prefix}-linkedin:before                     {content: $rpl-var-linkedin;}
.#{$rpl-css-prefix}-login:before                        {content: $rpl-var-login;}
.#{$rpl-css-prefix}-logout:before                       {content: $rpl-var-logout;}
.#{$rpl-css-prefix}-arrow-left:before                   {content: $rpl-var-arrow-left;}
.#{$rpl-css-prefix}-arrow-down:before                   {content: $rpl-var-arrow-down;}
.#{$rpl-css-prefix}-arrow-up:before                     {content: $rpl-var-arrow-up;}
.#{$rpl-css-prefix}-arrow-right:before                  {content: $rpl-var-arrow-right;}
.#{$rpl-css-prefix}-fax:before                          {content: $rpl-var-fax;}
.#{$rpl-css-prefix}-Company:before                      {content: $rpl-var-Company;}
.#{$rpl-css-prefix}-Edit-profile:before                 {content: $rpl-var-Edit-profile;}
.#{$rpl-css-prefix}-Bed:before                          {content: $rpl-var-Bed;}
.#{$rpl-css-prefix}-shower:before                       {content: $rpl-var-shower;}
.#{$rpl-css-prefix}-parking:before                      {content: $rpl-var-parking;}
.#{$rpl-css-prefix}-Direction:before                    {content: $rpl-var-Direction;}
.#{$rpl-css-prefix}-Next-page:before                    {content: $rpl-var-Next-page;}
.#{$rpl-css-prefix}-Prev-page:before                    {content: $rpl-var-Prev-page;}
.#{$rpl-css-prefix}-View-details:before                 {content: $rpl-var-View-details;}
.#{$rpl-css-prefix}-Bookmark:before                     {content: $rpl-var-Bookmark;}
.#{$rpl-css-prefix}-un-Bookmark:before                  {content: $rpl-var-un-Bookmark;}
.#{$rpl-css-prefix}-Send-tofriend2:before               {content: $rpl-var-Send-tofriend2;}
.#{$rpl-css-prefix}-View-htmlsource2:before             {content: $rpl-var-View-htmlsource2;}
.#{$rpl-css-prefix}-Star-rating-enabled:before          {content: $rpl-var-Star-rating-enabled;}
.#{$rpl-css-prefix}-Star-rating-disabled2:before        {content: $rpl-var-Star-rating-disabled2;}
.#{$rpl-css-prefix}-car:before                          {content: $rpl-var-car;}
.#{$rpl-css-prefix}-walk:before                         {content: $rpl-var-walk;}
.#{$rpl-css-prefix}-train:before                        {content: $rpl-var-train;}
.#{$rpl-css-prefix}-Living-room2:before                 {content: $rpl-var-Living-room2;}
.#{$rpl-css-prefix}-Kitchen:before                      {content: $rpl-var-Kitchen;}
.#{$rpl-css-prefix}-Family-room:before                  {content: $rpl-var-Family-room;}
.#{$rpl-css-prefix}-Laundry-room:before                 {content: $rpl-var-Laundry-room;}
.#{$rpl-css-prefix}-Dining-room:before                  {content: $rpl-var-Dining-room;}
.#{$rpl-css-prefix}-Extra-room:before                   {content: $rpl-var-Extra-room;}
.#{$rpl-css-prefix}-Walkscore:before                    {content: $rpl-var-Walkscore;}
.#{$rpl-css-prefix}-Video:before                        {content: $rpl-var-Video;}
.#{$rpl-css-prefix}-Street-view:before                  {content: $rpl-var-Street-view;}
.#{$rpl-css-prefix}-Pictures:before                     {content: $rpl-var-Pictures;}
.#{$rpl-css-prefix}-Google-place:before                 {content: $rpl-var-Google-place;}
.#{$rpl-css-prefix}-Google-map:before                   {content: $rpl-var-Google-map;}
.#{$rpl-css-prefix}-file-zip:before                     {content: $rpl-var-file-zip;}
.#{$rpl-css-prefix}-file-txt:before                     {content: $rpl-var-file-txt;}
.#{$rpl-css-prefix}-file-word:before                    {content: $rpl-var-file-word;}
.#{$rpl-css-prefix}-file-powerpoint:before              {content: $rpl-var-file-powerpoint;}
.#{$rpl-css-prefix}-file-pdf:before                     {content: $rpl-var-file-pdf;}
.#{$rpl-css-prefix}-file-openoffice:before              {content: $rpl-var-file-openoffice;}
.#{$rpl-css-prefix}-file-mp3:before                     {content: $rpl-var-file-mp3;}
.#{$rpl-css-prefix}-file-excel:before                   {content: $rpl-var-file-excel;}
.#{$rpl-css-prefix}-Basic-details:before                {content: $rpl-var-Basic-details;}
.#{$rpl-css-prefix}-Address-map:before                  {content: $rpl-var-Address-map;}
.#{$rpl-css-prefix}-Images-gallery:before               {content: $rpl-var-Images-gallery;}
.#{$rpl-css-prefix}-Appliances:before                   {content: $rpl-var-Appliances;}
.#{$rpl-css-prefix}-Neighborhood:before                 {content: $rpl-var-Neighborhood;}
.#{$rpl-css-prefix}-Video2:before                       {content: $rpl-var-Video2;}
.#{$rpl-css-prefix}-Property-tag:before                 {content: $rpl-var-Property-tag;}
.#{$rpl-css-prefix}-CRM:before                          {content: $rpl-var-CRM;}
.#{$rpl-css-prefix}-Finalize:before                     {content: $rpl-var-Finalize;}
.#{$rpl-css-prefix}-Save:before                         {content: $rpl-var-Save;}
.#{$rpl-css-prefix}-Delete:before                       {content: $rpl-var-Delete;}
.#{$rpl-css-prefix}-move:before                         {content: $rpl-var-move;}
.#{$rpl-css-prefix}-Confirm:before                      {content: $rpl-var-Confirm;}
.#{$rpl-css-prefix}-search:before                       {content: $rpl-var-search;}
.#{$rpl-css-prefix}-Duplicate:before                    {content: $rpl-var-Duplicate;}
.#{$rpl-css-prefix}-edit:before                         {content: $rpl-var-edit;}
.#{$rpl-css-prefix}-Change-Owner:before                 {content: $rpl-var-Change-Owner;}
.#{$rpl-css-prefix}-Select-toggle:before                {content: $rpl-var-Select-toggle;}
.#{$rpl-css-prefix}-Select-none:before                  {content: $rpl-var-Select-none;}
.#{$rpl-css-prefix}-Delete-completely:before            {content: $rpl-var-Delete-completely;}
.#{$rpl-css-prefix}-Restore:before                      {content: $rpl-var-Restore;}
.#{$rpl-css-prefix}-Delete2:before                      {content: $rpl-var-Delete2;}
.#{$rpl-css-prefix}-Unconfirm:before                    {content: $rpl-var-Unconfirm;}
.#{$rpl-css-prefix}-Select-all:before                   {content: $rpl-var-Select-all;}
.#{$rpl-css-prefix}-menu:before                         {content: $rpl-var-menu;}
.#{$rpl-css-prefix}-carousel-Next:before                {content: $rpl-var-carousel-Next;}
.#{$rpl-css-prefix}-carousel-Prev:before                {content: $rpl-var-carousel-Prev;}
.#{$rpl-css-prefix}-carousel-bulletsselected1:before    {content: $rpl-var-carousel-bulletsselected1;}
.#{$rpl-css-prefix}-loading:before                      {content: $rpl-var-loading;}
.#{$rpl-css-prefix}-info1:before                        {content: $rpl-var-info1;}
.#{$rpl-css-prefix}-close2:before                       {content: $rpl-var-close2;}
.#{$rpl-css-prefix}-info2:before                        {content: $rpl-var-info2;}
.#{$rpl-css-prefix}-close:before                        {content: $rpl-var-close;}
.#{$rpl-css-prefix}-carousel-bulletsnotselected:before  {content: $rpl-var-carousel-bulletsnotselected;}
.#{$rpl-css-prefix}-Check-out:before                    {content: $rpl-var-Check-out;}
.#{$rpl-css-prefix}-plus:before                         {content: $rpl-var-plus;}
.#{$rpl-css-prefix}-minus:before                        {content: $rpl-var-minus;}
.#{$rpl-css-prefix}-loading-3:before                    {content: $rpl-var-loading-3;}
.#{$rpl-css-prefix}-Compare-property:before             {content: $rpl-var-Compare-property;}
.#{$rpl-css-prefix}-loading-2:before                    {content: $rpl-var-loading-2;}
.#{$rpl-css-prefix}-Add-tocompare:before                {content: $rpl-var-Add-tocompare;}
.#{$rpl-css-prefix}-Remove-fromcompare:before           {content: $rpl-var-Remove-fromcompare;}
.#{$rpl-css-prefix}-panorama:before                     {content: $rpl-var-panorama;}
.#{$rpl-css-prefix}-Gallery:before                      {content: $rpl-var-Gallery;}
.#{$rpl-css-prefix}-Description-2:before                {content: $rpl-var-Description-2;}
.#{$rpl-css-prefix}-video-gallery:before                {content: $rpl-var-video-gallery;}
.#{$rpl-css-prefix}-Description:before                  {content: $rpl-var-Description;}
.#{$rpl-css-prefix}-Flayer:before                       {content: $rpl-var-Flayer;}
.#{$rpl-css-prefix}-pay-check:before                    {content: $rpl-var-pay-check;}
.#{$rpl-css-prefix}-mail:before                         {content: $rpl-var-mail;}
.#{$rpl-css-prefix}-paperclip:before                    {content: $rpl-var-paperclip;}
.#{$rpl-css-prefix}-calendar:before                     {content: $rpl-var-calendar;}
