// Variables
// --------------------------

$rpl-font-path:        "../fonts/rpl" !default;
$rpl-css-prefix:       rpl !default;
$rpl-version:          "1.0" !default;
$rpl-border-color:     #eee !default;
$rpl-inverse:          #fff !default;
$rpl-li-width:        (30em / 14) !default;


$rpl-var-facebook                   : "\e600";
$rpl-var-twitter                    : "\e601";
$rpl-var-youtube                    : "\e602";
$rpl-var-pinterest                  :"\e603";
$rpl-var-folder-open-alt            : "\e609";
$rpl-var-caret-right                :"\e60f";
$rpl-var-caret-left                 :"\e66b";
$rpl-var-caret-up                   :"\e66c";
$rpl-var-caret-down                 :"\e66d";
$rpl-var-check                      :"\e678";
$rpl-var-uncheck                    :"\e679";
$rpl-var-google-plus                :"\e604";
$rpl-var-phone                      :"\e605";
$rpl-var-mobile                     :"\e606";
$rpl-var-link                       :"\e60c";
$rpl-var-picture                    :"\e60d";
$rpl-var-rss                        :"\e60e";
$rpl-var-sortbysizedescending       :"\e610";
$rpl-var-sortbysizeascending        :"\e611";
$rpl-var-outgoingcall               :"\e612";
$rpl-var-facebook2                  :"\e613";
$rpl-var-checkmark                  :"\e615";
$rpl-var-books                      :"\e616";
$rpl-var-users                      :"\e614";
$rpl-var-checkbox-checked           :"\e67a";
$rpl-var-checkbox-unchecked         :"\e67b";
$rpl-var-unConfirm                  :"\e67c";
$rpl-var-Confirm-2                  :"\e67d";
$rpl-var-play                       :"\e67e";
$rpl-var-pause                      :"\e67f";
$rpl-var-play2                      :"\e680";
$rpl-var-pause2                     :"\e681";
$rpl-var-vimeo                      :"\e607";
$rpl-var-linkedin                   :"\e608";
$rpl-var-login                      :"\e617";
$rpl-var-logout                     :"\e630";
$rpl-var-arrow-left                 :"\e66e";
$rpl-var-arrow-down                 :"\e66f";
$rpl-var-arrow-up                   :"\e670";
$rpl-var-arrow-right                :"\e671";
$rpl-var-fax                        :"\e60a";
$rpl-var-Company                    :"\e618";
$rpl-var-Edit-profile               :"\e619";
$rpl-var-Bed                        :"\e61a";
$rpl-var-shower                     :"\e61b";
$rpl-var-parking                    :"\e61c";
$rpl-var-Direction                  :"\e61d";
$rpl-var-Next-page                  :"\e61e";
$rpl-var-Prev-page                  :"\e61f";
$rpl-var-View-details               :"\e620";
$rpl-var-Bookmark                   :"\e621";
$rpl-var-un-Bookmark                :"\e622";
$rpl-var-Send-tofriend2             :"\e623";
$rpl-var-View-htmlsource2           :"\e624";
$rpl-var-Star-rating-enabled        :"\e625";
$rpl-var-Star-rating-disabled2      :"\e626";
$rpl-var-car                        :"\e627";
$rpl-var-walk                       :"\e628";
$rpl-var-train                      :"\e629";
$rpl-var-Living-room2               :"\e62a";
$rpl-var-Kitchen                    :"\e62b";
$rpl-var-Family-room                :"\e62c";
$rpl-var-Laundry-room               :"\e62d";
$rpl-var-Dining-room                :"\e62e";
$rpl-var-Extra-room                 :"\e62f";
$rpl-var-Walkscore                  :"\e632";
$rpl-var-Video                      :"\e633";
$rpl-var-Street-view                :"\e634";
$rpl-var-Pictures                   :"\e635";
$rpl-var-Google-place               :"\e636";
$rpl-var-Google-map                 :"\e637";
$rpl-var-file-zip                   :"\e638";
$rpl-var-file-txt                   :"\e639";
$rpl-var-file-word                  :"\e63a";
$rpl-var-file-powerpoint            :"\e63b";
$rpl-var-file-pdf                   :"\e63c";
$rpl-var-file-openoffice            :"\e63d";
$rpl-var-file-mp3                   :"\e63e";
$rpl-var-file-excel                 :"\e63f";
$rpl-var-Basic-details              :"\e640";
$rpl-var-Address-map                :"\e641";
$rpl-var-Images-gallery             :"\e642";
$rpl-var-Appliances                 :"\e643";
$rpl-var-Neighborhood               :"\e644";
$rpl-var-Video2                     :"\e645";
$rpl-var-Property-tag               :"\e646";
$rpl-var-CRM                        :"\e647";
$rpl-var-Finalize                   :"\e648";
$rpl-var-Save                       :"\e649";
$rpl-var-Delete                     :"\e64a";
$rpl-var-move                       :"\e64b";
$rpl-var-Confirm                    :"\e64c";
$rpl-var-search                     :"\e64d";
$rpl-var-Duplicate                  :"\e64e";
$rpl-var-edit                       :"\e64f";
$rpl-var-Change-Owner               :"\e650";
$rpl-var-Select-toggle              :"\e651";
$rpl-var-Select-none                :"\e652";
$rpl-var-Delete-completely          :"\e653";
$rpl-var-Restore                    :"\e654";
$rpl-var-Delete2                    :"\e655";
$rpl-var-Unconfirm                  :"\e656";
$rpl-var-Select-all                 :"\e657";
$rpl-var-menu                       :"\e658";
$rpl-var-carousel-Next              :"\e659";
$rpl-var-carousel-Prev              :"\e65a";
$rpl-var-carousel-bulletsselected1  :"\e65b";
$rpl-var-loading                    :"\e65c";
$rpl-var-info1                      :"\e65d";
$rpl-var-close2                     :"\e65e";
$rpl-var-info2                      :"\e65f";
$rpl-var-close                      :"\e660";
$rpl-var-carousel-bulletsnotselected:"\e661";
$rpl-var-Check-out                  :"\e662";
$rpl-var-plus                       :"\e663";
$rpl-var-minus                      :"\e664";
$rpl-var-loading-3                  :"\e665";
$rpl-var-Compare-property           :"\e666";
$rpl-var-loading-2                  :"\e667";
$rpl-var-Add-tocompare              :"\e668";
$rpl-var-Remove-fromcompare         :"\e669";
$rpl-var-panorama                   :"\e672";
$rpl-var-Gallery                    :"\e673";
$rpl-var-Description-2              :"\e674";
$rpl-var-video-gallery              :"\e675";
$rpl-var-Description                :"\e676";
$rpl-var-Flayer                     :"\e677";
$rpl-var-pay-check                  :"\e682";
$rpl-var-mail                       :"\e60b";
$rpl-var-paperclip                  :"\e631";
$rpl-var-calendar                   :"\e66a";